body {
    background-color: rgb(201, 222, 223);
}
.container {
    padding-top: 10px;
    margin: auto;
}

#currentWeather,
#searchBox {
background-color: lemonchiffon;
box-shadow: 3px 3px 3px 3px grey;
}

#currentForcast {
    margin-left: 0;
}

.btn-primary {
    width: 100%;
}


.fiveDayDiv {
    padding: 15px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 13px;
    width: auto;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px 3px grey;
}

