body {
    background-image: url(https://wallpaper.dog/large/17017853.jpg);
    /* font-family: 'Goldman', cursive; */
}
.container {
    padding-top: 10px;
    margin: auto;
}

#currentWeather {
background-color: rgba(255, 255, 255,.7);
box-shadow: 3px 3px 3px 3px grey;
}

#searchBox {
background-color:  rgba(255, 255, 255,.7);
box-shadow: 3px 3px 3px 3px grey;
}

#currentForcast {
    margin-left: 0;
}

.btn-primary {
    width: 100%;
}


.fiveDayDiv {
    padding: 10px;
    background-color: rgba(3, 115, 252, .7);
    color: #fff;
    float: left;
    margin: 15px;
    width: auto;
    border: 1px solid lightgray;
    box-shadow: 3px 3px 3px 3px grey;
    border-radius: 4%;
}

#city-img {
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: auto;
    /* text-align: center; */
    /* position: relative; */
}