.container {
    padding-top: 10px;
    margin: auto;
}

#currentForcast {
    margin-left: 0;
}

.btn-primary {
    width: 100%;
}


.fiveDayDiv {
    padding: 20px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 10px;
    width: auto;
    border: 1px solid lightgray;
}

